*
{
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
 
}

.topnav {
  overflow: hidden;
  background-color: darkblue;

}

.topnav a {
  float: right;
  color: #f2f2f2;
  padding-top: 5%;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  margin-top: 1%;
  

}

.nev
{
margin-left: 40px;
color: #f2f2f2;
}
.main
{
  /* border: 2px solid coral; */
  display:flex;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 8%;
}
.botton
{
  background-color: navy; color: #f2f2f2;
  height: 70px;
  width: 200px;
 border-radius: 5px;
 font-size: 30px;
  margin-top: 10px;
 margin-left: 30%;
 margin-top: 8%;
 margin-bottom: 8%;
 margin-right: 30%;
}
 .botton:hover {
  background-color: white; color: navy;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  cursor: pointer;
}
 

.about
{
  opacity: 0.7;
  position: relative;
  

}
.about_text
{
position: absolute;
top: 15px;
}
.testimonials
{
  height: 500px;
  width: 100%;
  background-color: bisque;
  text-align: center;
  margin-top: 10px;
  padding-top: 70px;
  font-size: 30px;
}
.imge1
{
  background-color: aliceblue;
  height: 50px;
  width: 50px;
}
.contect
{
  height: 600px;
  width: 100%;
  background-color: midnightblue;
  overflow-y: hidden;
  


}
.form
{
  
  color: #f2f2f2;
  font-size: xx-large;
  margin-left: 39%;
}
.form input
{
width: 50%;
height: 30px;
}
.map
{
  /* height: 300px;
  width: 900px; */
  margin-left: 40%;
  
  overflow-y: hidden;
  padding-bottom: 90%;
 

  
  
}
.footer
{
  height: 400px;
  width: 100%;
  background-color:#151E3D;
}
.footer
{
  display: flex;

}
.f1
{
color: aliceblue;
font-size: 10px;
margin-left: 5%;  
margin-right: 8%;
padding-top: 5%;
}
.f2
{
color: aliceblue;
font: size 10px;
margin-left: 9%;  
margin-right: 12%;
padding-top: 5%;
}
.f3
{
color: aliceblue;
font-size: 10px;
margin-left: 15%;  
margin-right: 12%;
padding-top: 5%;
}
.div1
{
  border: 2px solid coral;
  padding-left: 2%;
  padding-right: 2%;

}
.div2
{
  border: 2px solid coral;
  padding-left: 2%;
  padding-right: 2%;
  
}

.div3
{
  border: 2px solid coral;
  padding-left: 2%;
 margin-right: 2%;
 
}

/* .text
{
  
    position: absolute;
    bottom: 20px;
    right: 20px;
   
    color: black;
    padding-left: 20px;
    padding-right: 20px;
  } */

.block
{
  height: 350px;
  width: 900px;
  background-color: white;
  position:absolute;
  top: 15px;
  margin-left: 20%;
  margin-top: 55%;
  margin-bottom: 20%;
  overflow-y:hidden
  

  
  
}
input
{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  /* border-top:0px; */
}
.aboutus
{
  text-align: center;
  font-size: 60px;
  display: contents;
}
.para1
{
  margin-left: 45%;
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
}
.botton1
{
  background-color: white; color: rgb(0, 0, 0);
  height: 70px;
  width: 300px;
 border-radius: 0px;
 font-size: 30px;
  margin-top: 10px;
 margin-left: 30%;
 margin-top: 0%;
 margin-bottom: 8%;
 margin-right: 30%;
}
.botton1:hover 
{
  background-color: #151E3D; color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  cursor: pointer;
}